body {
    overflow: hidden;
    min-height: 100vh;
    cursor: crosshair;

}

* {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    border: 5px solid rgb(103, 103, 103);
    border-radius: 15px;
    background: blue;
}

li {
    margin: 0px;
}

.bubble {
    position: absolute;
    border-radius: 300px;
    background: rgba(255, 166, 0, 0.6);
    opacity: 0;
    animation: anim 8s forwards;
    filter: hue-rotate(0deg);
    box-shadow: 1px 2px 40px rgb(120, 120, 120);

}

@keyframes anim {
    to {
        top: -350px;
        left: var(--left);
        opacity: 1;
        filter: hue-rotate(720deg);
    }
}

h2 {
    color: rgb(171, 171, 171);
    font-size: 2rem;
    margin: 0px;
    text-shadow: 1px 10px 10px rgb(159, 159, 159);


}

h3 {
    font-size: 3rem;
    margin: 0px;
    color: rgba(222, 176, 108, 0.677);
    text-shadow: 1px 10px 10px rgb(159, 159, 159);
}

h4 {
    color: rgb(171, 171, 171);
    font-size: 2rem;
    margin: 0;
    text-shadow: 1px 10px 10px rgb(159, 159, 159);
}

h5 {
    font-size: 3rem;
    margin: 0px;
    color: rgba(222, 176, 108, 0.677);
    text-shadow: 1px 10px 10px rgb(159, 159, 159);
}

button {
    color: white;
    font-size: 3rem;
    border-radius: 10px;
    padding: 10px;
    background: rgb(17, 17, 151);
    border: 5px solid rgb(103, 103, 103);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
button:hover{
    box-shadow: 0px 5px 8px rgb(88, 88, 88);
    transform: translate(-50%, -50%) scale(1.1);
}
@media screen and (max-width: 500px) {
    h2, h3, h4, h5 {
        font-size: 1.5rem;
    }
    button{
        font-size: 2rem;
    }
}